* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sulphur Point", sans-serif;
    list-style: none;
}

::selection{
    color: white;
    background: black;
}

body {
    background: rgb(246, 246, 229);
}

a {
    color: black;
    text-decoration: none;
}

.css-tag {
    position: relative;
    color: white;

    &::before {
        content: "";
        width: 120%;
        height: 100%;
        z-index: -1;
        background: black;
        position: absolute;
        top: 0;
        border-radius: 4px;
        transform: skewX(-10deg);
        left: -10%;
    }
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 0 12px;
}

.header-top {
    display: flex;
    padding: 24px;
    width: 100%;
    height: 100px;

    >div {
        flex-grow: 1;
    }

    ul {
        display: flex;
        gap: 12px;
    }

    li {
        position: relative;

        &::before {
            content: "";
            width: 120%;
            height: 0;
            z-index: -1;
            position: absolute;
            transition: height.2s, bottom .2s;
            background: rgb(218, 218, 189);
            bottom: -20%;
            left: -10%;
        }

        &:hover::before{
            height: 10px;
            bottom: 0; 
        }
    }
}

.hero {
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
    }
}

.about {
    display: flex;
    flex-flow: wrap;
    margin: auto;

    a {
        color: black;
        border: 1px solid;
        width: fit-content;
        padding: 8px 12px;
        margin-top: 8px;
        border-radius: 100px;
        font-size: 14px;
        transition: background .2s, color .2s;

        &:hover {
            background: black;
            color: white;
        }
    }

    >div {
        padding: 2rem 12px;
        min-width: 250px;
        margin: 4px;
        border-radius: 6px;
        background: rgb(239, 239, 217);
    }

    >div:nth-child(1) {
        flex: 1;

        li {
            padding: 8px 4px;
            border-bottom: 1px solid rgb(169, 169, 139);
            cursor: pointer;
            transition: background .2s;

            &:hover {
                border-radius: 4px;
                background: rgb(227, 227, 203);
            }
        }
    }

    >div:nth-child(2) {
        flex: 2;
        /* border-left: none; */
        /* border-right: none; */

        >div {
            display: flex;
            flex-direction: column;
            padding: 12px 0;
            gap: 4px;
        }
    }

    >div:nth-child(3) {
        flex: 2;
    }
}


.reviews {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    gap: 1rem;

    .teacher {
        color: rgb(123, 123, 93);
        font-size: 13px;
    }

    >div {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;

        >div {
            background: rgb(239, 239, 217);
            border: 1px solid rgba(148, 148, 107, 0.346);
            border-radius: 4px;
            padding: 14px;
            flex: 1;
            max-width: 440px;
        }
    }
}


footer {
    height: 15rem;
    display: grid;
    place-items: center;
}

@media (width < 450px) {
    .header-top nav {
        display: none;
    }
}

@media (width < 700px){
    .reviews{
        >div{
            grid-template-columns: 1fr 1fr;
            >div:last-child{
                display: none;
            }
        }
    }
}

@media (width < 480px){
    .reviews{
        >div{
            grid-template-columns: 1fr;
            >div:last-child,
            >div:nth-child(2){
                display: none;
            }
        }
    }
}